* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

.invisible {
  visibility: hidden; }

header {
  background: #FFF;
  height: 80px;
  padding: 10px 0; }
  header .container-fluid {
    padding: 0; }
  header ul {
    display: inline-block;
    text-align: right; }
  header li {
    display: inline-block; }
  header a {
    color: #1F4280;
    display: inline-block;
    padding: 17px 8px;
    position: relative; }
  header a:hover, header a:active, header a:focus {
    text-decoration: none; }
  header .selected:after {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #1F4280;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: absolute;
    right: 0;
    width: 0; }

.secondary-header {
  background: #1F4280;
  color: #FFF;
  font-size: 1.6rem;
  height: 35px;
  padding: 5px; }
  .secondary-header strong {
    margin-left: 20px;
    margin-right: 18px; }

.carousel-inner .item img {
  width: 100%; }

.pitch-section .pitches {
  float: right; }

.pitch-section .purple-ring, .pitch-section .green-ring {
  background: #FFF;
  border-radius: 100%;
  display: inline-block;
  padding: 10px;
  align-items: center;
  display: flex;
  height: 105px;
  justify-content: center;
  text-align: center;
  width: 105px; }
  .pitch-section .purple-ring img, .pitch-section .green-ring img {
    width: 60%; }

.pitch-section .purple-ring {
  border: 5px solid #333399; }

.pitch-section .green-ring {
  border: 5px solid #77BC1F; }

.pitch-section .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.pitch-section .animated.bounceIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.pitch-section .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

.case-laptop {
  display: block;
  margin: 0 auto; }

.usa-testimonials {
  background: #1F4280;
  padding: 30px 0; }
  .usa-testimonials h2 {
    font-size: 4.8rem;
    font-weight: normal;
    padding: 30px; }
  .usa-testimonials h2, .usa-testimonials > p {
    color: #FFF;
    margin: 0 auto;
    max-width: 685px; }
  .usa-testimonials > p {
    font-size: 2.8rem;
    padding: 0 30px 15px 30px; }
  .usa-testimonials .radiator {
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 100%;
    height: 0px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0px; }
  .usa-testimonials .open {
    height: 100px;
    opacity: 0;
    -webkit-transition-duration: 2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    visibility: visible;
    width: 100px; }

.testimony-wrapper {
  background: #FFF;
  margin: 20px auto;
  max-width: 685px;
  position: relative; }
  .testimony-wrapper:before {
    border-top: 50px solid transparent;
    border-right: 50px solid #FFF;
    display: inline-block;
    position: absolute;
    top: -50px;
    left: 50px; }
  .testimony-wrapper .left-nav, .testimony-wrapper .right-nav {
    color: #AEAEAF;
    font-size: 3rem;
    height: 100%;
    position: absolute; }
    .testimony-wrapper .left-nav button, .testimony-wrapper .right-nav button {
      background: none;
      border: none;
      height: 100%;
      width: 40px;
      z-index: 1; }
  .testimony-wrapper .left-nav {
    left: 0; }
  .testimony-wrapper .reviewers {
    display: none; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .testimony-wrapper .reviewers.selected {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; }
  .testimony-wrapper .review-col-left {
    padding: 10px 0 10px 40px; }
  .testimony-wrapper .review-col-right {
    padding: 10px 40px 10px 0; }
  .testimony-wrapper .right-nav {
    right: 0; }
  .testimony-wrapper img {
    width: 100%; }
  .testimony-wrapper .review {
    color: #EC9F2D;
    font-size: 2rem;
    margin-bottom: 10px; }

.svg-wrapper {
  height: 0;
  margin: 0 auto;
  max-width: 685px;
  padding: 0 0 50% 0;
  position: relative;
  width: 75%; }
  .svg-wrapper .svg-usa {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
    .svg-wrapper .svg-usa .land {
      fill: #CCC;
      fill-opacity: .5;
      stroke: #FFF;
      stroke-opacity: .6;
      stroke-width: 5; }
    .svg-wrapper .svg-usa .selected {
      fill: #6BA4C4;
      fill-opacity: 1;
      stroke: #FFF;
      stroke-opacity: 1;
      stroke-width: 5; }
    .svg-wrapper .svg-usa .dot {
      fill: #FFF; }

.geekstech .pitch-section .purple-ring {
  height: 70px;
  width: 70px;
  margin-top: 20px; }

.geekstech .pitch-section .green-ring {
  height: 70px;
  width: 70px;
  margin-top: 20px; }

.geekstech #services {
  margin: 20px;
  background-color: transparent;
  background-image: url("../images/line.png"); }

.geekstech .custh2 h2 {
  font-size: 40px;
  margin-top: 2em; }

.geekstech .custh2 p {
  font-size: 20px; }

.geekstech #whitemargin {
  background-color: #ffffff; }

.geekstech .panel-heading {
  color: #333;
  background-color: #EE4145;
  border-color: #ddd; }
  .geekstech .panel-heading a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%; }
    .geekstech .panel-heading a .panel-title {
      margin-top: 5px;
      margin-bottom: 5px; }

.geekstech .panel-collapse .panel-body {
  color: #ffffff;
  border: 0px; }

.geekstech .panel-default:first-child .panel-heading a .panel-title .glyphicon-triangle-right:before {
  content: "\e250";
  /* up arraow */ }

.geekstech .panel-default:not(:first-child) .panel-heading a .panel-title .glyphicon-triangle-right:before {
  content: "\e252";
  /* down arraow */ }

.glyphicon-triangle-right-cust:before {
  content: "\e250" !important;
  /* up arraow */ }

.glyphicon-triangle-bottom:before {
  content: "\e252" !important;
  /* down arraow */ }

section {
  background-color: #C04342; }

hr {
  padding: 20px;
  border: none;
  background-color: #1B4283;
  margin: 0px; }

.pre-form h2 {
  color: #ffffff; }

.panel-body {
  padding: 0px; }

.panel-body > ul {
  margin: 15px; }

.glyphicon-ok-sign {
  color: #fff;
  font-size: 35px;
  float: right;
  top: -0.227em; }

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #EE4145; }

.brandsection-learnmore-text {
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #4E4E4E; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  line-height: 1; }

.geekstech .carousel ol {
  bottom: 30%; }

.geekstech .carousel-caption {
  top: 0; }
  .geekstech .carousel-caption .first-head-slider {
    font-size: 6em; }
  .geekstech .carousel-caption .second-head-slider {
    font-size: 5em; }

.geekstech .green-div-shoing-phone-no {
  background-color: rgba(119, 188, 31, 0.78);
  position: absolute;
  width: 100%;
  bottom: 0; }
  .geekstech .green-div-shoing-phone-no.fixed-position {
    bottom: initial;
    position: fixed;
    top: 0;
    z-index: 1000; }

.geekstech .txt {
  align-items: center;
  display: flex;
  padding: 10px 0;
  justify-content: center; }
  .geekstech .txt img {
    display: inline-block;
    margin: 0;
    max-width: 75px;
    vertical-align: baseline; }
  .geekstech .txt h2 {
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 10px;
    text-align: left; }
    .geekstech .txt h2 strong {
      display: block;
      font-size: 2em; }
    .geekstech .txt h2 span {
      font-size: 1.6rem; }

.geekstech .mainfooter {
  background-color: #1C4281; }
  .geekstech .mainfooter .container .row div h2 {
    color: #ffffff; }
  .geekstech .mainfooter .container .row div hr {
    padding: 1px;
    border: none;
    background-color: #ffffff;
    margin: 0px; }
  .geekstech .mainfooter .container .row div p {
    color: #ABCBE1;
    padding: 5px 2px;
    letter-spacing: 1px; }
  .geekstech .mainfooter .container .row div ul {
    padding: 5px 2px; }
    .geekstech .mainfooter .container .row div ul li {
      padding: 2px;
      color: #ABCBE1; }
      .geekstech .mainfooter .container .row div ul li a {
        color: #ABCBE1; }
  .geekstech .mainfooter .container .row div h4 {
    color: #ABCBE1; }

.geekstech #contact div .form-group input {
  padding: 20px;
  font-size: 20px;
  border-radius: 8px;
  width: 80%; }

.geekstech #contact div .form-group input {
  padding: 20px;
  font-size: 20px;
  border-radius: 8px; }

.geekstech #contact div .form-group textarea {
  font-size: 20px;
  border-radius: 8px; }

.geekstech #contact div .form-group .btn-primary {
  color: #fff;
  background-color: #1C4281;
  border-color: #1C4281; }

@media (max-width: 1000px) {
  .geekstech .carousel-caption .first-head-slider {
    font-size: 4em; }
  .geekstech .carousel-caption .second-head-slider {
    font-size: 3em; }
  .geekstech .txt img {
    max-width: 50px; }
  .geekstech .txt h2 strong {
    font-size: 1em; }
  .geekstech .txt h2 span {
    font-size: 1.4rem; } }

@media (min-width: 480px) and (max-width: 640px) {
  .geekstech .carousel-caption .first-head-slider {
    font-size: 2.2em; }
  .geekstech .carousel-caption .second-head-slider {
    font-size: 2em; }
  .geekstech .txt h2 {
    font-size: 1.4rem; }
    .geekstech .txt h2 strong {
      font-size: 2rem; }
    .geekstech .txt h2 span {
      font-size: 1.4rem; }
  .usa-testimonials h2 {
    font-size: 3.8rem; } }

@media (max-width: 479px) {
  .geekstech .carousel-caption .first-head-slider {
    font-size: 1.5em; }
  .geekstech .carousel-caption .second-head-slider {
    font-size: 1.5em; }
  .geekstech .txt h2 {
    font-size: 1.4rem; }
    .geekstech .txt h2 strong {
      font-size: 2rem; }
    .geekstech .txt h2 span {
      font-size: 1.4rem; } }

/* ---------------Testimonial start-------------- */
@media (max-width: 479px) {
  .row.sliide1 {
    background: url("../images/testimonl.jpg");
    height: 17em; }
  .col-lg-12.lft-mrgin {
    margin: 0em -1.9em !important;
    width: 23em !important; } }

@media (min-width: 1100px) {
  .row.sliide1 {
    background: url("../images/testimonl.jpg");
    height: 17em; } }

@media (max-width: 1000px) {
  .row.sliide1 {
    background: url("../images/testimonl.jpg");
    height: 17em; }
  .col-sm-6.bck-clr {
    margin: 0em -2.4em !important;
    height: 17.9em !important; } }

@media (max-width: 400px) {
  .row.sliide11 {
    background: url("../images/banner-green.jpg");
    height: 67em;
    padding: 2em 2em; }
  h1.first-head1 {
    padding: 1.5em 1em 0em 1em !important;
    font-size: 2em !important;
    font-weight: bold;
    color: #fff; }
  p.secend-head1 {
    padding: 0em 0em;
    font-size: 12px !important;
    margin: -5px 2px 3px -39px !important;
    color: #fff;
    text-align: justify; }
  .row.sliide1 {
    background: url("../images/testimonl.jpg");
    height: 14em !important; }
  .col-sm-6.bck-clr {
    margin: 0em -1.4em !important;
    height: 17.9em !important; } }

@media (max-width: 1024px) {
  .container.ff.cnt {
    text-align: center; }
  p.secend-head1 {
    margin: -15px -156px 0px -150px !important; }
  h1.first-head1 {
    padding: 1.5em 1em 1em 0em !important; }
  .row.sliide11 {
    height: 52em !important;
    text-align: center !important; }
  .col-lg-5.col-sm-12.sukh_space {
    margin-top: 3em; } }

@media (max-width: 360px) {
  p.secend-head1 {
    margin: -31px 0px 0px -66px !important; }
  .row.sliide11 {
    height: 56em !important; } }

@media (max-width: 411px) {
  .row.sliide1 {
    height: 26em !important; } }

.row.sliide1 {
  background: url("../images/testimonl.jpg");
  height: 39em; }

p.undrline {
  text-decoration: underline;
  margin-top: 5em; }

.row.sliide11 {
  background: url(../images/banner-green.jpg);
  height: 25em;
  padding: 2em 2em; }

.wht {
  color: #FFFFFF; }

h2.wht {
  color: #FFFFFF; }

.col-lg-5.col-sm-12.clr {
  background-color: #7cbb23;
  opacity: 0.8;
  margin-top: 2em; }

h1.first-head1 {
  padding: 1.5em 2em 1em 2em;
  font-size: 6em;
  font-weight: bold;
  color: #fff; }

p.secend-head1 {
  padding: 0em 6em;
  font-size: 25px;
  margin: -59px 2px 3px 29px;
  color: #fff;
  text-align: justify; }

/* ---------------Testimonial ends-------------- */
.second-about-slider {
  font-size: 2em;
  text-align: justify; }

.about-head {
  text-align: left;
  font-weight: 900; }

.item.active.hpp {
  height: 37em; }

.row.sliide {
  background: url("../images/blue-bg.jpg");
  height: 39em; }

h1.first-head {
  padding: 1em 2em;
  font-size: 6em;
  font-weight: bold;
  color: #fff; }

p.secend-head {
  padding: 0em 6em;
  font-size: 25px;
  margin: -58px 2px 3px 0px;
  color: #fff;
  text-align: justify; }

.col-lg-6.map {
  margin-top: 2em; }

h3.setleft {
  font-size: 31px;
  color: #333;
  text-align: justify;
  margin-left: 34px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }

h2.uppr {
  margin-top: 80px;
  margin-left: 34px; }

section.red-div {
  background-color: #e74145;
  color: #ffffff;
  text-align: center; }

h2.second-headq-slider {
  font-size: 31px;
  padding: 0.6em;
  margin-top: 4px; }

.col-lg-12.col-sm-12.col-md-12.hyt {
  height: 4em; }

.col-lg-1.g {
  background-color: #dddddb;
  height: 33em; }

p.sf {
  text-align: center;
  font-size: 1.8em;
  margin-top: 3em;
  font-weight: bold;
  color: #333;
  padding: 0em 1em;
  margin-bottom: 3em; }

hr.lne {
  background-color: #9e9e9e;
  height: 1px;
  padding: 0;
  width: 50em;
  margin-left: auto;
  margin-right: auto; }

h1.section-heading {
  font-weight: bold; }

.bck {
  background-color: #999999; }

.container.ff {
  background-color: #fff;
  width: 95%; }

.col-lg-12.col-sm-12.col-md-12.hytt {
  height: 6em; }

.team-member {
  margin-left: 2em;
  margin-top: 6em;
  text-align: -webkit-center;
  margin-bottom: 11em; }

hr.lnee {
  padding: 1px;
  border: none;
  background-color: #e4e4e4;
  margin: 12px; }

strong.sze {
  font-size: 21px; }

.bck .circle_shadow {
  box-shadow: 1px 1px 1px 1px #eee !important; }

.mobile-header-menu {
  background: #1F4280;
  display: none;
  height: 85px;
  margin: 0;
  padding: 0; }
  .mobile-header-menu > img {
    margin: 1em;
    position: absolute; }

.menu-wrap a {
  color: #b8b7ad; }

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #EC4244; }

.content {
  position: relative;
  background: #b4bad2; }

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0.3s, transform 0s 0.3s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

/* Menu Button */
.menu-button {
  position: absolute;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  right: 0;
  color: transparent;
  background: transparent; }

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%);
  content: ''; }

.menu-button:hover {
  opacity: 0.6; }

/* Close Button */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent; }

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #95a5a6; }

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Menu */
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 250px;
  height: 100vh;
  font-size: 1.15em;
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  right: 0; }

.menu {
  background: #4E4E4E;
  width: calc(100% - 80px);
  height: 100%;
  padding: 2em 1em;
  float: right; }

.icon-list a {
  display: block;
  padding: 0.8em;
  text-align: right; }

.icon-list a i {
  opacity: 0.5; }

.icon-list a span {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75em; }

/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
  transform: rotate(180deg);
  left: 0;
  fill: #4E4E4E;
  z-index: 1000; }

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.no-margins {
  margin: 0; }

@media (min-width: 1100px) {
  .svg-wrapper {
    padding: 0 0 500px 0; } }

@media (max-width: 1000px) {
  .desktop-header-menu {
    display: none; }
  .mobile-header-menu {
    display: block; }
  .pitch-section .pitches {
    float: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    .pitch-section .pitches > div {
      padding: 30px; }
    .pitch-section .pitches > div:nth-child(2n+2) {
      background: #EEEDED; }
  .pitch-section .purple-ring, .pitch-section .green-ring {
    display: inline-flex;
    margin: 0 auto; }
  .pitch-section .who-are-geeks {
    text-align: center; } }

@media (max-width: 400px) {
  .mobile-header-menu > img {
    margin: 1.5em;
    width: 200px; } }
