* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

header {
  background: #FFF;
  height: 80px;
  padding: 10px 0; }
  header .container-fluid {
    padding: 0; }
  header ul {
    display: inline-block;
    text-align: right; }
  header li {
    display: inline-block; }
  header a {
    color: #1F4280;
    display: inline-block;
    padding: 17px 8px;
    position: relative; }
  header a:hover, header a:active, header a:focus {
    text-decoration: none; }
  header .selected:after {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #1F4280;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: absolute;
    right: 0;
    width: 0; }

.secondary-header {
  background: #1F4280;
  color: #FFF;
  font-size: 1.6rem;
  height: 35px;
  padding: 5px; }
  .secondary-header strong {
    margin-left: 20px;
    margin-right: 18px; }

.svg-wrapper {
  position: relative;
  height: 0;
  width: 75%;
  padding: 0 0 100% 0;
  margin: 0 auto; }
  .svg-wrapper.svg-usa {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

html,
body,
.mobile-header-menu,
.content-wrap {
  overflow: hidden; }

.mobile-header-menu {
  background: #1F4280;
  display: none;
  height: 85px;
  margin: 0;
  padding: 0; }
  .mobile-header-menu > img {
    margin: 1em;
    position: absolute; }

.menu-wrap a {
  color: #b8b7ad; }

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #EC4244; }

.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.content {
  position: relative;
  background: #b4bad2; }

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0.3s, transform 0s 0.3s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

/* Menu Button */
.menu-button {
  position: fixed;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  right: 0;
  color: transparent;
  background: transparent; }

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%);
  content: ''; }

.menu-button:hover {
  opacity: 0.6; }

/* Close Button */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent; }

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #95a5a6; }

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Menu */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 300px;
  height: 100%;
  font-size: 1.15em;
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  right: 0; }

.menu {
  background: #4E4E4E;
  width: calc(100% - 120px);
  height: 100%;
  padding: 2em 1em;
  float: right; }

.icon-list a {
  display: block;
  padding: 0.8em;
  text-align: right; }

.icon-list a i {
  opacity: 0.5; }

.icon-list a span {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75em; }

/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 120px;
  height: 100%;
  top: 0;
  transform: rotate(180deg);
  left: 0;
  fill: #4E4E4E;
  z-index: 1000; }

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0); }

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media (max-width: 1000px) {
  .desktop-header-menu {
    display: none; }
  .mobile-header-menu {
    display: block; } }
